body {
    background: rgba(72, 76, 90, 0.922);
    font-family: 'Handjet', sans-serif;
}

nav {
    li > a.nav-link {
        font-weight: 500;
    }
}

main {
    .main-section {
        background: url(../img/fcoarce-bg.jpg) no-repeat;
        background-size: cover;
        background-position: left;
    }

    .h1-title {
        font-weight: 600;
        
    }

    p, a {
        font-weight: 500;
    }
}